* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bacground {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  background: linear-gradient(135deg,
      rgb(64, 0, 244) 0%,
      rgb(96, 58, 237) 22.483%,
      rgb(124, 110, 230) 46.931%,
      rgb(151, 159, 225) 65.709%,
      rgb(162, 179, 222) 77.684%,
      rgb(173, 200, 220) 88.933%,
      rgb(192, 236, 215) 100%);
}

.bgColor {
  background: rgb(86, 90, 91);
  background: linear-gradient(0deg, rgba(86, 90, 91, 1) 0%, rgba(36, 35, 35, 1) 100%);
}

.radius {
  border-radius: 6px 0 0 6px;
}

.radiusS {
  border-radius: 0 6px 6px 0;
}

.img {
  border-radius: 10px 10px 0 0;
}

.item {
  width: 270px;
  height: 470px;
  transition: 0.5s;

  &:hover {
    transform: translateY(-10px)
  }
}

.text {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s;
}

.shadow {
  -webkit-box-shadow: 0px 2px 31px 5px rgba(255, 255, 255, 0.549);
  -moz-box-shadow: 0px 2px 31px 5px rgba(255, 255, 255, 0.502);
  box-shadow: 0px 2px 31px 5px rgba(255, 255, 255, 0.452);
}

.name {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: 0.5s;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(86, 90, 91);
  background: linear-gradient(0deg, rgba(86, 90, 91, 1) 0%, rgba(36, 35, 35, 1) 100%);
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.209);
  border-top-color: rgb(35, 126, 55);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
.texts{
  transition: 0.5s;
  cursor: pointer;
  &:hover{
    color: white;
    text-decoration:underline;
  }
}
.borders{
  border-bottom: 1px solid rgba(255, 255, 255, 0.294);
}